@media screen and (max-width:576px) {

    /* ==================== header =================== */
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav .logo-div img{
        width: 150px;
    }
    nav ul{
        display: none ;
    }
    .menu-icon{
        display: block;
    }
}