@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;;
}
a{
    text-decoration: none;
}
/* ================== header section ==================== */
header{
    max-width: 1280px;
    min-height: 550px;
    max-height: fit-content;
    margin: 0 auto;
    background: linear-gradient(rgba(152,50,59,0.8) , rgba(152,50,59,0.8) , rgba(152,50,59,0.8) , rgba(152,50,59,0.8)) , url('../images/bg-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
}
nav .logo-div{
    display: flex;
    justify-content: center;
}
nav .logo-div img{
    width: 200px;
    margin: 10px 0;
}
nav ul{
    display: flex ;
    justify-content: center ;
}
nav ul li{
    list-style: none;
    margin: 0 30px;
}
nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.menu-icon{
    display: none;
    margin-top: 10px;
}
.menu-icon i{
    font-size: 40px;
    color: white;
}