@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;;
}
a{
    text-decoration: none;
}
.my-container{
    max-width: 1280px;
    min-height: 550px;
    max-height: fit-content;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
}
/* ============================= header section ==================== */
.header-section{
    background: linear-gradient(rgba(235, 77, 85, 0.779),
     rgba(235, 77, 85, 0.779),rgba(235, 77, 85, 0.779),
      rgba(235, 77, 85, 0.779)), url('../images/bg-1.jpg');
}
/* ========= header > container > nav ============ */
nav .logo-div{
    display: flex;
    justify-content: center;
}
nav .logo-div img{
    width: 200px;
    margin: 10px 0;
}
nav ul{
    display: flex ;
    justify-content: center ;
}
nav ul li{
    list-style: none;
    margin: 0 30px;
}
nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.menu-icon{
    display: none;
    margin-top: 10px;
}
.menu-icon i{
    font-size: 40px;
    color: white;
}
/* ========== header > container > banner =========== */
.banner-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner-container .banner-content{
    width: 60%;
    text-align: center;
    padding:30px 0 50px 0;
}
.banner-container .banner-content h1{
    font-size: 220px;
    color: white;
    font-family: 'Grand Hotel', cursive;
    margin: 0;
}
.banner-container .banner-content p{
    font-size: 20px;
    padding: 0 40px;
    margin-bottom: 60px;
    color: white;
}
.banner-container .banner-content button {
    width: 250px;
    border: none;
    border-radius: 40px;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
    color: #e8565e;
    background-color: white;
}
/* =================== popular section ================ */
.popular-section {
    background: linear-gradient(rgba(251, 251, 251, 0.779), rgba(251, 251, 251, 0.779),rgba(251, 251, 251, 0.779), rgba(251, 251, 251, 0.779)), url('../images/bg-2.jpg');
}
.popular-container , .statistic-container , .menu-container{
    padding:50px 0;

}
.popular-header , .statistic-header , .menu-header{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.popular-header h2 , .statistic-header h2 , .menu-header h2 , .package-header h2 {
    font-size: 135px;
    font-family: 'Grand Hotel', cursive;
}
.popular-header h2 , .menu-header h2 , .package-header h2{    
    color: #e8565e;
}
.popular-header p , .menu-header p , .package-header p{
    font-size: 20px;
    margin-bottom: 20px;
}
.popular-content , .statistic-content , .package-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    text-align: center;
}
.popular-food , .statistic-details {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popular-food:hover{
    border-radius: 10px;
    box-shadow: 9px 12px 10px -1px rgba(145,140,140,0.7);
    -webkit-box-shadow: 2px 5px 11px 5px rgba(145,140,140,0.7);
    -moz-box-shadow: 9px 12px 10px -1px rgba(145,140,140,0.7);
}
.popular-content .popular-food  img{
    width: 250px;
    border-radius: 50%;
}
.popular-content .popular-food  h2  {
    font-size: 55px;
    color: #e8565e;
    font-family: 'Grand Hotel', cursive;
}
.popular-food p{
    font-size: 20px;
}
/* ======================== statistic section ============= */
.statistic-section{
    background: linear-gradient(rgba(235, 77, 85, 0.779),
     rgba(235, 77, 85, 0.779),rgba(235, 77, 85, 0.779),
      rgba(235, 77, 85, 0.779)), url('../images/img-6.png');
}
.statistic-container .statistic-header{
    color: white;
}
.statistic-container .statistic-header{
    font-size: 20px;
    margin-bottom: 20px;
}
.statistic-content .statistic-details .statistic-card{
    height: 230px;
    width: 70%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    border: 6px dashed white ;
}
 .statistic-details .statistic-card h2{
    font-size: 50px;
}
.statistic-details  .statistic-card p{
    font-size: 45px;
}
/* ========================= menu section =============== */
.menu-section{
    background-color: #ede5cb;
}
.menu-content{
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}
.menu-details{
    width: 45%;
    /* background-color: blueviolet; */
}
.menu-details .content{
    height: 50%;
    padding: 20px;
    display: flex;
}
.content img{
    width: 200px;
    height: 50%;
}
.content .menu-text{
    padding: 20px;
}
.content .menu-text h3{
    color: #e8565e;
}
/* ========================== pasta section ============== */
.pasta-section{
    height: 100vh;
    max-width: 1280px;
    display: flex;
}
.pasta-img{
    width: 45%;
    height: 100%;
    position: relative;
}
.pasta-img::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(235, 77, 85, 0.779),
     rgba(235, 77, 85, 0.779),rgba(235, 77, 85, 0.779),
      rgba(235, 77, 85, 0.779))
}
.pasta-img img{
    width: 100%;
    height: 100%;
}
.pasta-details{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pasta-content{
    width: 80%;
}
.pasta-content h2{
    font-size: 100px;
    color: #e8565e;
    font-family: 'Grand Hotel', cursive;
}
.pasta-content p{
    font-size: 20px;
    color: #3d3d3d;
}
.pasta-content button{
    width: 250px;
    border: none;
    border-radius: 40px;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color:  #e8565e;
}
/* ========================== package section ============== */
.package-section {
    background-color: #ede5cb;
}
.package-header{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.package-card{
    width: 32%;
    max-height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 50px 0;
    border-radius: 20px;
    background-color: #f9f5e3;
}
.package-card:hover{
    box-shadow: 9px 12px 10px -1px rgba(198, 193, 193,0.7);
    -webkit-box-shadow: 2px 5px 11px 5px rgba(198, 193, 193,0.7);
    -moz-box-shadow: 9px 12px 10px -1px rgba(198, 193, 193, 0.7);
}
.package-card img{
    margin:10px 0 40px 0;
}
.package-card h2{
    font-size: 50px;
    color: #e8565e;
    font-family: 'Grand Hotel', cursive;
}
.package-card p{
    font-size: 18px;
}
.package-card button{
    width: 180px;
    border: none;
    border-radius: 40px;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color:  #e8565e;
}
/* ===================== chat girl section ============ */
.girl-section{
    background: linear-gradient(rgba(255, 255, 255, 0.779),
     rgba(255, 255, 255, 0.779),rgba(255, 255, 255, 0.779),
      rgba(255, 255, 255, 0.779)), url('../images/bg-1.jpg');
}
.girl-container{
    padding: 80px 0  ;
}
.girl-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.girl-content img{
    border-radius: 50%;
    width: 250px;
}
.girl-content p{
    font-size: 30px;
    color: #3d3d3d;
    font-weight: 500;
    margin: 40px 0;
}
.girl-content h2{
    font-size: 50px ;
    color: #e8565e;
    font-family: 'Grand Hotel', cursive;
}
/* ========================== subscribe */
.sub-sec {
    background-color: #f9f6e4;
  }
  
  .sub-sec h1 {
    font-size: 125px;
    color: #eb4d55;
    font-weight: 400;
    font-family: "Grand Hotel", cursive;
  }
  
  .sub-sec p {
    font-size: 30px;
    color: #3d3d3d;
    font-weight: 400;
  }
  
  .input-group {
    width: 659px;
    height: 43px;
    background-color: #ffffff;
    border-radius: 32px;
    border: none !important;
    border-radius: 23px !important;
  }
  
  .input-group-text {
    background-color: #eb4d55;
    border-radius: 23px !important;
  }
  
  footer {
    background-color: #242525;
  }
  
  .first-footer h1 {
    font-size: 54px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Grand Hotel", cursive;
  }
  
  .footer h1 {
    font-size: 39px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Grand Hotel", cursive;
  }
  
  .footer a {
    font-size: 20px;
    line-height: 38px;
    color: #ffffff;
    font-weight: 400;
    display: block;
  }
  