@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;;
}
a{
    text-decoration: none;
}
.my-container{
    max-width: 1280px;
    min-height: 550px;
    max-height: fit-content;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
}
/* ============================= header section ==================== */
.header-section{
    background: linear-gradient(rgba(220, 54, 63, 0.779), rgba(220, 54, 63, 0.779),rgba(220, 54, 63, 0.779), rgba(220, 54, 63, 0.779)), url('../images/bg-1.jpg');
}
/* ========= header > container > nav ============ */
nav .logo-div{
    display: flex;
    justify-content: center;
}
nav .logo-div img{
    width: 200px;
    margin: 10px 0;
}
nav ul{
    display: flex ;
    justify-content: center ;
}
nav ul li{
    list-style: none;
    margin: 0 30px;
}
nav ul li a{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.menu-icon{
    display: none;
    margin-top: 10px;
}
.menu-icon i{
    font-size: 40px;
    color: white;
}
/* ========== header > container > banner =========== */
.banner-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner-container .banner-content{
    width: 60%;
    text-align: center;
    padding:30px 0 50px 0;
}
.banner-container .banner-content h1{
    font-size: 220px;
    color: white;
    font-family: 'Grand Hotel', cursive;
    margin: 0;
}
.banner-container .banner-content p{
    font-size: 20px;
    padding: 0 40px;
    margin-bottom: 60px;
    color: white;
}
.banner-container .banner-content button{
    width: 250px;
    border: none;
    border-radius: 40px;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
    color: #e8565e;
    background-color: white;
}
/* =================== popular section ================ */
.popular-section{
    background: linear-gradient(rgba(251, 251, 251, 0.779), rgba(251, 251, 251, 0.779),rgba(251, 251, 251, 0.779), rgba(251, 251, 251, 0.779)), url('../images/bg-2.jpg');
}
.popular-container{
    padding:50px 0;

}
.popular-container .popular-header{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.popular-container .popular-header h2{
    font-size: 135px;
    color: #e8565e;
    font-family: 'Grand Hotel', cursive;
}
.popular-container .popular-header p{
    font-size: 20px;
    margin: 20px 0;
}
.popular-container .popular-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    text-align: center;
}
.popular-content .popular-food{
    width: 30%;
}
.popular-food:hover{
    border-radius: 10px;
    box-shadow: 9px 12px 10px -1px rgba(145,140,140,0.7);
    -webkit-box-shadow: 2px 5px 11px 5px rgba(145,140,140,0.7);
    -moz-box-shadow: 9px 12px 10px -1px rgba(145,140,140,0.7);
}
.popular-content .popular-food  img{
    width: 250px;
    border-radius: 50%;
}
.popular-content .popular-food  h2{
    font-size: 55px;
    color: #e8565e;
    font-family: 'Grand Hotel', cursive;
}
.popular-content .popular-food p{
    font-size: 20px;
}